<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sentimo_review_analysis>
            <sync>
                <enabled>0</enabled>
                <api_base_uri>https://sentimoai.com</api_base_uri>
                <channel>magento</channel>
            </sync>
        </sentimo_review_analysis>
    </default>
</config>
