<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Sentimo\ReviewAnalysis\Api\Data\SentimoReviewInterface" type="Sentimo\ReviewAnalysis\Model\SentimoReview" />
    <preference for="Sentimo\ReviewAnalysis\Api\Data\AuthorInterface" type="Sentimo\ReviewAnalysis\Model\Author" />
    <preference for="Sentimo\ReviewAnalysis\Api\Data\ProductInterface" type="Sentimo\ReviewAnalysis\Model\Product" />
    <preference for="Sentimo\ReviewAnalysis\Api\ReviewProviderInterface" type="Sentimo\ReviewAnalysis\Model\ReviewProvider" />
    <preference for="Sentimo\ReviewAnalysis\Model\RequestParam\ReviewGetRequestParamBuilderInterface" type="Sentimo\ReviewAnalysis\Model\RequestParam\ReviewGetRequestParamBuilder" />

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="sentimo_review_analysis_post_review_command" xsi:type="object">Sentimo\ReviewAnalysis\Console\Command\PostReviewsCommand</item>
                <item name="sentimo_review_analysis_sync_review_sentiment_command" xsi:type="object">Sentimo\ReviewAnalysis\Console\Command\SyncReviewSentimentsCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Sentimo\ReviewAnalysis\Console\Command\PostReviewsCommand">
        <arguments>
            <argument name="postReviewsCommand" xsi:type="object">Sentimo\ReviewAnalysis\Model\Command\PostReviewsCommand\Proxy</argument>
        </arguments>
    </type>
    <type name="Sentimo\ReviewAnalysis\Console\Command\SyncReviewSentimentsCommand">
        <arguments>
            <argument name="syncReviewSentimentsCommand" xsi:type="object">Sentimo\ReviewAnalysis\Model\Command\SyncReviewSentimentsCommand\Proxy</argument>
        </arguments>
    </type>

    <type name="Sentimo\ReviewAnalysis\Model\RequestParam\CompositeReviewPostRequestParamBuilder">
        <arguments>
            <argument name="requestParamBuilders" xsi:type="array">
                <item name="review" xsi:type="object">Sentimo\ReviewAnalysis\Model\RequestParam\ReviewPostRequestParamBuilder</item>
                <item name="author" xsi:type="object">Sentimo\ReviewAnalysis\Model\RequestParam\AuthorPostRequestParamBuilder</item>
                <item name="product" xsi:type="object">Sentimo\ReviewAnalysis\Model\RequestParam\ProductPostRequestParamBuilder</item>
            </argument>
        </arguments>
    </type>

</config>
