<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Review\Block\Adminhtml\Grid">
        <plugin name="sentimo_review_analysis_modify_status_column"
                type="Sentimo\ReviewAnalysis\Plugin\ModifyStatusColumnPlugin"
                sortOrder="10"/>
    </type>
</config>
