<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sentimo" translate="label" sortOrder="300">
            <label>Sentimo</label>
        </tab>
        <section id="sentimo_review_analysis" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <label>Review Analysis</label>
            <tab>sentimo</tab>
            <resource>Sentimo_ReviewAnalysis::config</resource>
            <group id="sync" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1">
                <label>Sync</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="base_uri" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Base Uri</label>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="0">
                    <label>Api Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="channel" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Channel</label>
                </field>
                <field id="post_review_frequency" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Post Review Frequency</label>
                    <comment>Cron Expression</comment>
                </field>
                <field id="sync_review_frequency" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Sync Review Frequency</label>
                    <comment>Cron Expression</comment>
                </field>
            </group>
            <group id="date_range" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1">
                <label>Date Range for Review Sync</label>
                <field id="from_date" translate="label" type="date" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>From Date</label>
                    <frontend_model>Sentimo\ReviewAnalysis\Block\System\Config\Form\Date</frontend_model>
                    <comment>Date from which reviews will be considered for sync.</comment>
                </field>
                <field id="to_date" translate="label" type="date" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>To Date</label>
                    <frontend_model>Sentimo\ReviewAnalysis\Block\System\Config\Form\Date</frontend_model>
                    <comment>Date until which reviews will be considered for sync.</comment>
                </field>
            </group>
            <group id="review_helper" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1">
                <label>Review Helper Widget</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="0">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="review_field_selector" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Review Field Selector</label>
                    <comment>CSS selector for the review textarea.</comment>
                </field>
                <field id="tooltip_text" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Tooltip Text</label>
                    <comment>Text displayed when hovering the widget icon.</comment>
                </field>
                <field id="use_suggestion_button_label" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Use Suggestion Button Label</label>
                </field>
                <field id="continue_button_label" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Continue Button Label</label>
                </field>
                <field id="cancel_button_label" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Cancel Button Label</label>
                </field>
                <field id="see_suggestion_link_label" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>See Suggestion Link Label</label>
                </field>
                <field id="message_too_short" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Message: Too Short</label>
                </field>
                <field id="message_loading" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Message: Loading</label>
                </field>
                <field id="message_success" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Message: Success</label>
                </field>
                <field id="message_error" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Message: Error</label>
                </field>
            </group>
        </section>
    </system>
</config>
